.socials {
  position: absolute;
  width: 100%;
  height: 36px;
  bottom: 0;
  margin-bottom: 1rem;
  filter: invert(16%) sepia(59%) saturate(2429%) hue-rotate(173deg) brightness(98%) contrast(102%);
  display: flex;
  gap: 1rem;
  justify-content: center;
}
